<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="msapplication-tap-highlight" content="no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta name="msapplication-tap-highlight" content="no">
  <title>爱宠族 重置密码</title>
  <link rel="stylesheet" href="/stylesheets/view/account/login.css" />
  <script type="text/javascript" src="/javascripts/view/font.js"></script>
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/layer/layer.js"></script>
  <script src="/javascripts/view/common.js"></script>
</head>
<body bgcolor="#f5f1f9">
<div class="main">
  <header>
    <i class="iconfont icon-left-arrow"></i>
    <p class="lan-cn">重置密码</p>
    <p class="lan-en hidden">To reset your password</p>
  </header>
  <article class="grupform groupreg">
    <form>
      <label>
        <span class="lan-cn">密码</span>
        <span class="lan-en hidden">Password</span>
        <input type="password" id="password" maxlength="15"  placeholder="" />
      </label>
      <label>
        <span class="lan-cn">确认密码</span>
        <span class="lan-en hidden">password</span>
        <input type="password" id="password1" maxlength="15"  placeholder="" />
      </label>
      <button type="button" class="btn-login">
        <span class="lan-cn">重置密码</span>
        <span class="lan-en hidden">To reset your password</span>
      </button>
    </form>
  </article>
</div>
</body>
</html>
