<link rel="stylesheet" href="/stylesheets/view/index/index.css" />
<link rel="stylesheet" href="/stylesheets/view/index/swiper.min.css">
<div class="main">
  <article class="index_search">
    <span class="lan-cn">爱宠族</span>
    <span class="lan-en hidden">The family of love dandle</span>
    <p><input type="text" /><i class="iconfont icon-search"></i></p>
    <i class="iconfont icon-gouwuche1"></i>
  </article>
  <article>
    <img src="/images/banner/banner.jpg" width="100%" height="100%" alt="" />
  </article>
  <section class="dailyRushed">
    <article class="dailytilte">
      <i class="iconfont icon-shijian"></i>
      <h2 class="lan-cn">每日疯抢</h2>
      <h2 class="lan-en hidden" >Daily rushed</h2>
      <p class="lan-cn">距离本场结束</p>
      <p class="lan-en hidden">Field end</p>
      <h1 class="alt-1">4h 18m 3s</h1>
    </article>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-cont">
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" width="100%" height="100%" /></div>
              <p class="lan-cn">疯狂设计师变型</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="price">￥1.38 <span>￥135</span></div>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_06.jpg" alt="" width="100%" height="100%" /></div>
             <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_11.jpg" alt="" width="100%" height="100%" /></div>
             <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>

        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" width="100%" height="100%" /></div>
             <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>
        </div>

      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <section class="dailyRushed">
    <article class="index_title">
      <h2>推荐品牌 
      <span class="lan-cn">货好不贵的良心品牌</span>
      <span class="lan-en hidden">Good conscience brand</span>
      </h2>
    </article>
    <article class="brandlist">
      <ul>
        <li>
          <a href="#">
            <img src="/images/index/goods_19.jpg" width="100%" height="100%" alt="" />
            <p class="lan-cn">熊本熊</p>
            <p class="lan-en hidden">Kumamoto bear</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/index/goods_21.jpg" width="100%" height="100%" alt="" />
            <p>luvpet</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/index/goods_23.jpg" width="100%" height="100%" alt="" />
            <p class="lan-cn">疯狂的设计</p>
            <p class="lan-en hidden">Crazy design</p>
          </a>
        </li>
      </ul>
      <h2>
        <a href="#">
          全部<br>品牌
          <i class="iconfont icon-right"></i>
        </a>
      </h2>
    </article>
  </section>
  <section class="dailyRushed">
    <article class="index_title">
      <h2>当季热销 
      <span class="lan-cn">爱宠族当季时尚新定义</span>
      <span class="lan-en hidden">A new definition of fashion in the season for pet lovers </span>
      </h2>
    </article>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" width="100%" height="100%" /></div>
            <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_06.jpg" alt="" width="100%" height="100%" /></div>
            <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_11.jpg" alt="" width="100%" height="100%" /></div>
            <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>

        </div>
        <div class="swiper-slide">
          <a href="#">
            <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" width="100%" height="100%" /></div>
            <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
            <div class="price">￥1.38 <span>￥135</span></div>
          </a>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <article>
    <img src="/images/index/dog.jpg" width="100%" height="100%" alt="" />
  </article>
  <section class="dogsitems clearfix">
    <article class="dogs_class_one clearfix">
      <div class="dogs_50">
        <a href="#">
          <div class="Goodsimg"><img src="/images/index/goods_29.jpg"/></div>
          <p class="lan-cn">熊本熊狗用点点系列之黄色波点牵引带 S 花纹</p>
          <p class="lan-en hidden">Xiong Ben bears dog with the yellow wave point series with S pattern
</p>
          <div class="dogs_price">￥1.38</div>
        </a>
      </div>
      <div class="dogs_25">
        <ul>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38 </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38 </div>
            </a>
          </li>
        </ul>

      </div>

    </article>
    <article class="dogs_class_two clearfix">
      <div class="dogs_25">
        <ul>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38 </div>
            </a>
          </li>
        </ul>

      </div>

    </article>

  </section>
  <article>
    <img src="/images/index/cat.jpg" width="100%" height="100%" alt="" />
  </article>
  <section class="dogsitems clearfix">
    <article class="dogs_class_one clearfix">
      <div class="dogs_50">
        <div class="Goodsimg"><a href="#"><img src="/images/index/goods_29.jpg"/></a></div>
        <p class="lan-cn"><a href="#">熊本熊狗用点点系列之黄色波点牵引带 S 花纹</a></p>
        <p class="lan-en hidden"><a href="#">Xiong Ben bears dog with the yellow wave point series with S pattern </a></p>
        <div class="dogs_price">￥1.38</div>
      </div>
      <div class="dogs_25">
        <ul>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38 </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38 </div>
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="dogs_class_two clearfix">
      <div class="dogs_25">
        <ul>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_13.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="Goodsimg"><img src="/images/index/goods_09.jpg" alt="" /></div>
              <p class="lan-cn">疯狂设计师变型记</p>
              <p class="lan-en hidden">Crazy designer variation</p>
              <div class="dogs_price">￥1.38</div>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </section>
  <div class="logotext">
    —品质养宠 • 尽在爱宠族—
  </div>
</div>
<script src="/javascripts/view/index/swiper.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerGroup: 3,
    loopAdditionalSlides:4,
    loopedSlides:4,
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

</script>
<script src="/javascripts/view/index//jquery.countdown.js"></script>
<script>
  window.jQuery(function ($) {
    "use strict";

    $('time').countDown({
      with_separators: false
    });
    $('.alt-1').countDown({
      css_class: 'countdown-alt-1'
    });
    $('.alt-2').countDown({
      css_class: 'countdown-alt-2'
    });

  });
</script>