<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />
    <link rel="stylesheet" href="/stylesheets/iconfont.css" />
    <script type="text/javascript" src="/javascripts/view/font.js"></script>
    <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  </head>
  <body bgcolor="#f5f1f9">
    {{{body}}}
    <div class="main">
    <footer>
      <ul>
        <li>
          <a href="#">
            <i class="iconfont icon-shouye1"></i>
            <p class="lan-cn">首页</p>
            <p class="lan-en hidden">Home page</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="iconfont icon-fenlei"></i>
            <p class="lan-cn">分类</p>
            <p class="lan-en hidden">classification</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="iconfont icon-gouwuche3"></i>
            <p class="lan-cn">购物车</p>
            <p class="lan-en hidden">The shopping cart</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="iconfont icon-wode"></i>
            <p class="lan-cn">我的</p>
            <p class="lan-en hidden">my</p>
          </a>
        </li>
      </ul>
    </footer>
    </div>
  </body>

</html>
