<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="msapplication-tap-highlight" content="no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />
  <link rel="stylesheet" href="/stylesheets/iconfont.css" />
  <script type="text/javascript" src="/javascripts/view/font.js"></script>
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/view/order/order.css" />
</head>
<body bgcolor="#f5f1f9">
<div class="find_nav">
  <div class="find_nav_left">
    <div class="find_nav_list" id="pagenavi1">
      <ul>
        <li>
          <a href="#" class="active lan-cn">全部订单</a>
          <a href="#" class="active lan-en hidden">All orders </a>
        </li>
        <li>
          <a href="#" class="lan-cn">待付款</a>
          <a href="#" class="lan-en hidden">For the payment</a>
        </li>
        <li>
          <a href="#" class="lan-cn">待收货</a>
          <a href="#" class="lan-en hidden">For the goods</a>
        </li>
        <li>
          <a href="#" class="lan-cn">待评价</a>
          <a href="#" class="lan-en hidden">To evaluate</a>
        </li>
        <li class="sideline"></li>
      </ul>

    </div>
  </div>
</div>
<div id="slider1" class="swipe">
  <ul class="box01_list">
    <li>
      <!--商品列表-->
      <div class="main" style="position: static !important;">
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span>订单号</span>
              <div class="order-type">等待付款</div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
				  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">需付款</span>
              <span class="lan-en hidden">Need to pay</span>
              <em>￥89</em></p>
              <a href="#" class="lan-cn">去支付</a>
              <a href="#" class="lan-en hidden">To pay for</a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type">已支付</div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
				  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p>
              <span class="lan-cn">需付款</span>
              <span class="lan-en hidden">Need to pay</span>
              <em>￥89</em></p>
              <a href="#">
              <span class="lan-cn">再次购买</span>
              <span class="lan-en hidden">Once again to buy</span>
              </a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type"><i class="iconfont icon-shanchu"></i></div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">需付款</span>
              <span class="lan-en hidden">Need to pay</span>
              <em>￥89</em></p>
              <a href="#" style="background: #ccc;">
              <span class="lan-cn">评价</span>
              <span class="lan-en hidden">evaluation</span>
              </a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <!--商品列表-->
      <div class="main" style="position: static !important;">
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type">
              <span class="lan-cn">等待付款</span>
              <span class="lan-en hidden">Waiting for payment</span>
              </div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">需付款</span>
              <span class="lan-en hidden">Need to pay</span>
              <em>￥89</em></p>
              <a href="#" class="lan-cn">去支付</a>
              <a href="#" class="lan-en hidden">To pay for</a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type">
              <span class="lan-cn">等待付款</span>
              <span class="lan-en hidden">Waiting for payment</span>
              </div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">需付款</span>
              <span class="lan-en hidden">Need to pay</span>
              <em>￥89</em></p>
              <a href="#" class="lan-cn">去支付</a>
              <a href="#" class="lan-en hidden">To pay for</a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <!--商品列表-->
      <div class="main" style="position: static !important;">
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type">
              <span class="lan-cn">卖家已发货</span>
              <span class="lan-en hidden">Seller delivered</span>
              </div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">已支付</span>
              <span class="lan-en hidden">Have to pay</span>
              <em>￥89</em></p>
              <a href="#" class="lan-cn">确认收货</a>
              <a href="#" class="lan-en hidden">Confirm the goods</a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type" class="lan-cn">卖家已发货</div>
              <div class="order-type" class="lan-en hidden">Seller delivered</div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p>
              <span class="lan-cn">已支付</span>
              <span class="lan-en hidden">Have to pay</span>
              <em>￥89</em></p>
              <a href="#" class="lan-cn">确认收货</a>
              <a href="#" class="lan-en hidden">Confirm the goods</a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <!--商品列表-->
      <div class="main" style="position: static !important;">
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type"><i class="iconfont icon-shanchu"></i></div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p>
              <span class="lan-cn">已支付</span>
              <span class="lan-en hidden">Have to pay</span>
               <em>￥89</em></p>
              <a href="#" style="background: #ccc;">
              <span class="lan-cn">评价</span>
              <span class="lan-en hidden">evaluation</span>
              
              </a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
        <div class="commodity_box clearfix">
          <div class="commodity_list">
            <!--店名信息-->
            <div class="tite_tim select">
              <span class="lan-cn">订单号</span>
              <span class="lan-en hidden">The order number</span>
              <div class="order-type"><i class="iconfont icon-shanchu"></i></div>
              <div class="clear"></div>
            </div>
            <!--商品-->
            <div class="commodity_list_term clearfix">
              <div class="select">
                <img src="/images/shops/goods_13.jpg" />
                <div class="div_center">
                  <h4 class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</h4>
                  <h4 class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</h4>
                  <p class="now_type">
                  <span class="lan-cn">颜色：</span>
                  <span class="lan-en hidden">Color:</span>
                  <small class="lan-cn">黑色</small>
				  <small class="lan-en hidden">black</small>
				  <span class="lan-cn">尺码：</span>
				  <span class="lan-en hidden">Size:</span>
				  <small class="lan-cn">M码</small>
				  <small class="lan-en hidden">M yards</small>
                  </p>
                  <!--<p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>-->
                </div>
                <div class="div_right">
                  X1
                </div>
              </div>
            </div>
            <!--优惠信息-->
            <div class="shop_ul_bottom order_bottom clearfix">
              <p> 
              <span class="lan-cn">已支付</span>
              <span class="lan-en hidden">Have to pay</span>
              <em>￥89</em></p>
              <a href="#" style="background: #ccc;">
              <span class="lan-cn">评价</span>
              <span class="lan-en hidden">evaluation</span>
              </a>
              <!--<p>在线支付</p>		-->
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!--商品菜单切换-->
<script type="text/javascript" src="/javascripts/view/shops/touchslider.js"></script>
<script type="text/javascript" src="/javascripts/view/shops/goodstab.js"></script>

</body>
</html>
