<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="msapplication-tap-highlight" content="no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />
  <link rel="stylesheet" href="/stylesheets/iconfont.css" />
  <script type="text/javascript" src="/javascripts/view/font.js"></script>
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/view/order/order.css" />
</head>
<body bgcolor="#f5f1f9">
<div class="main">
  <header>
    <a href="#" class="goodslist_arrow"><i class="iconfont icon-left-arrow"></i></a>
    <nav class="goods clearfix">
      <ul>
        <li>订单结算</li>
      </ul>
    </nav>
  </header>
  <section class="container">

    <section class="order_address">
      <a href="/addAdress">
      <div class="order_name">
        <p>
        <em class="lan-cn">魏瑞娥</em>
        <em class="lan-en hidden">Wei Ruie</em>
        <em>150****6510</em>
        </p>
        <p>
        <small class="lan-cn">默认</small>
        <small class="lan-en hidden">The default</small>
        <span class="lan-cn">北京东城区东大街</span>
        <span class="lan-en hidden">East street, dongcheng district, Beijing</span>
        </p>
      </div>
      <a href="#" class="arrow_right"><i class="iconfont icon-right"></i></a>
     </a>
    </section>
    <!--商品列表-->
    <div class="commodity_box clearfix">
      <div class="commodity_list">
        <!--店名信息-->
        <div class="tite_tim select">
          <span class="lan-cn">爱宠族</span>
          <span class="lan-en hidden">The family of love dandle</span>
          <div class="clear"></div>
        </div>
        <!--商品-->
        <ul class="commodity_list_term">
          <li class="select">
            <img src="/images/shops/goods_13.jpg" />
            <div class="div_center">
              <h4>
              <span class="lan-cn">熊本熊 猫狗通用超柔软PV绒熊本熊站立绣花方形沙发床 黑色 S码</span>
              <span class="lan-en hidden">Bear this bear cat dog universal super soft PV bear this bear stand embroider square sofa bed black S code</span>
              </h4>
              
              <p class="now_value"><i>￥</i><b class="qu_su">123.00</b></p>
            </div>
            <div class="div_right">
              X1
            </div>
          </li>
        </ul>
        <!--优惠信息-->
        <div class="shop_ul_bottom clearfix">
          <p class="lan-cn">支付方式</p>
          <p class="lan-en hidden">Method of payment</p>
          <p class="lan-cn">在线支付</p>
          <p class="lan-en hidden">Online payment</p>
        </div>
      </div>
    </div>
    <section class="LeaveMessage">
      <h2>
      <span class="lan-cn">给卖家留言</span>
      <span class="lan-en hidden">Leave a message to the seller</span>
      </h2>
      <textarea name="" rows="5" cols="">
					</textarea>
    </section>
    <div style="height: 0.88rem;"></div>
    <section class="items_goods_foot">
      <p>
      <span class="lan-cn">总额:</span>
      <span class="lan-en hidden">Total amount:</span>
      <em>￥</em><em>177.00</em></p>
      <div class="items-goods-apply">
        <a href="#" class="lan-cn">提交订单</a>
        <a href="#" class="lan-en hidden">Submit orders</a>
      </div>
    </section>

  </section>
</div>


</body>
</html>
