<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="msapplication-tap-highlight" content="no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />
  <link rel="stylesheet" href="/stylesheets/iconfont.css" />
  <script type="text/javascript" src="/javascripts/view/font.js"></script>
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/view/apply/apply.css" />
</head>
<body bgcolor="#f5f1f9">
<div class="main">
  <header>
    <a href="#" class="goodslist_arrow"><i class="iconfont icon-left-arrow"></i></a>
    <nav class="goods clearfix">
      <ul>
        <li>
        <span class="lan-cn">在线支付</span>
        <span class="lan-en hidden">Online payment</span>
        </li>
      </ul>
    </nav>
  </header>

  <section class="container">
    <div class="applysuccess"><i class="iconfont icon-pass-2-copy"></i>
    <span class="lan-cn">恭喜，订单提交成功！请尽快支付</span>
    <span class="lan-en hidden">Congratulations, order submitted successfully! Please pay as soon as possible.</span>
    </div>
    <div class="applymoney">
      <p>
      <span class="lan-cn">应付：</span>
      <span class="lan-en hidden">To deal with:</span>
      <em>￥177</em></p>
      <p class="lan-cn">订单号：859746285265</p>
      <p class="lan-en hidden">Order no. : 859746285265</p>
    </div>
    <div class="applytype">
      <ul>
        <li><img src="/images/icon/ap.png" alt="" /><p>
        <span class="lan-cn">支付宝</span>
        <span class="lan-en hidden">Pay treasure</span>
        </p><i class="iconfont icon-right"></i></li>
        <li><img src="/images/icon/wh.png" alt="" /><p>
        <span class="lan-cn">微信</span>
        <span class="lan-en hidden">WeChat</span>
        </p><i class="iconfont icon-right"></i></li>
      </ul>

    </div>
  </section>
</div>
</body>
</html>
