<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="msapplication-tap-highlight" content="no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />
  <link rel="stylesheet" href="/stylesheets/iconfont.css" />
  <script type="text/javascript" src="/javascripts/view/font.js"></script>
  <link rel="stylesheet" href="/stylesheets/view/apply/apply.css" />
</head>
<body bgcolor="#f5f1f9">
<div class="main">
  <header>
    <a href="#" class="goodslist_arrow"><i class="iconfont icon-left-arrow"></i></a>
    <nav class="goods clearfix">
      <ul>
        <li>
        <span class="lan-cn">在线支付</span>
        <span class="lan-en hidden">Online payment</span>
        </li>
      </ul>
    </nav>
  </header>

  <section class="container">
    <div class="applysuccess apply_sus">
      <i class="iconfont icon-chenggong1"></i>
      <p class="lan-cn"> 恭喜你，支付成功！</p>
      <p class="lan-en hidden"> Congratulations, payment is successful!</p>
      <p class="lan-cn">实付金额：￥177.00</p>
      <p class="lan-en hidden">Actual amount paid: $177.00</p>
      <p class="lan-cn">订单编号：589796545</p>
      <p class="lan-en hidden">Order no. : 589796545</p>
    </div>
    <div class="apply_button">
      <a href="#" class="lan-cn">查看订单</a>
      <a Href="#" class="lan-en hidden"> to view the order</a>
      <a href="#" class="lan-cn">继续购物</a>
      <a href="#" class="lan-en hidden">To continue shopping</a>
    </div>

  </section>
</div>
</body>
</html>
